.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.page:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.hero {
  display: block;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 188px;
  min-width: 0;
  background: url("/plasmic/shinkan_next/images/microsoftTeamsImagepng2.png") top 50% left 50% / contain no-repeat;
}
.box__ig9Yl {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 80%;
  height: 8px;
  background: rgb(73, 32, 110);
}
.box__ykPs0 {
  display: block;
  position: absolute;
  left: auto;
  top: auto;
  width: 80%;
  height: 8px;
  bottom: 0px;
  right: 0px;
  background: rgb(73, 32, 110);
}
.events {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  left: auto;
  top: auto;
  padding: 8px;
}
.box__p08Hk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.box__vzmTl {
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
  font-size: 22px;
  font-weight: 700;
}
.box__lxuSy {
  position: relative;
  left: auto;
  top: auto;
  align-self: center;
  width: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 32px;
  padding: 1px;
  margin: 3px;
  background: rgb(73, 32, 110);
}
.slotEventCount {
  font-size: 12px;
  color: rgb(255, 255, 255);
  text-align: center;
}
.box__kKcvo {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  align-self: center;
  height: 1px;
  left: auto;
  top: auto;
  flex-grow: 1;
}
.button {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__mV3YJ {
  position: relative;
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
  align-self: center;
  cursor: pointer;
}
.eventList {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin: 4px;
}
.eventListItem__hoLhM:global(.__wab_instance) {
  position: relative;
  margin: 0px;
}
.box___1Nq1 {
  height: auto;
}
.eventListItem__av7V1:global(.__wab_instance) {
  position: relative;
  margin: 0px;
}
.box__vcY8 {
  height: auto;
}
.eventListItem__bTwts:global(.__wab_instance) {
  position: relative;
  margin: 0px;
}
.eventListItem__svl9R:global(.__wab_instance) {
  position: relative;
  margin: 0px;
}
.orgsContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 8px;
}
.box__gJi0C {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  flex-wrap: wrap;
}
.box___7SGb5 {
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
  font-size: 22px;
  font-weight: 700;
  flex-grow: 1;
  flex-shrink: 0;
}
.box__bkJeC {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  align-self: auto;
  flex-wrap: nowrap;
  left: auto;
  top: auto;
  right: auto;
  bottom: auto;
  flex-grow: 1;
  flex-shrink: 0;
}
.categoryRadio__l6S0E:global(.__wab_instance) {
  position: relative;
}
.categoryRadio__soEt:global(.__wab_instance) {
  position: relative;
}
.categoryRadio___2VI6B:global(.__wab_instance) {
  position: relative;
}
.orgList {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}
.orgCard___5D3PU:global(.__wab_instance) {
  position: relative;
}
.orgCard__pgQCd:global(.__wab_instance) {
  position: relative;
}
.orgCard__tnADu:global(.__wab_instance) {
  position: relative;
}
.orgCard__z2CI:global(.__wab_instance) {
  position: relative;
}
.orgCard__f8LUy:global(.__wab_instance) {
  position: relative;
}
.orgCard__o1P8X:global(.__wab_instance) {
  position: relative;
}
.orgCard__jG91M:global(.__wab_instance) {
  position: relative;
}
.orgCard__jdCC:global(.__wab_instance) {
  position: relative;
}
.box__c6Wud {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.link__xXnx {
  position: relative;
  text-align: center;
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
  font-weight: 700;
  transition-property: all;
  transition-duration: 1s;
  height: auto;
}
.announcements {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.box__gLaDz {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.box__ruukh {
  position: relative;
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
  font-weight: 700;
  font-size: 22px;
}
.eventList2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin: 4px;
}
.eventListItem__npZl:global(.__wab_instance) {
  position: relative;
  margin: 0px;
}
