.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__i8QZa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  min-width: 0;
  min-height: 0;
  background: url("/plasmic/shinkan_next/images/web19204Svg.svg") 0% 0% / cover;
}
.header {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: 20px;
  flex-wrap: wrap;
  width: 100%;
  min-width: 0;
}
.title {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  align-items: center;
}
.img__e1Q90 {
  position: relative;
  object-fit: contain;
  width: 32px;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  flex-shrink: 0;
  min-height: 0;
}
.box__enS97 {
  position: relative;
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  letter-spacing: 1.1px;
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
  font-size: 22px;
  display: inline-block;
}
.links {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  width: auto;
  flex-grow: 1;
}
.headerLink___2GQ6:global(.__wab_instance) {
  position: relative;
  align-self: auto;
}
.box__wyzrt {
  height: auto;
  font-size: 19px;
  width: auto;
  display: inline-block;
}
.headerLink__lle4C:global(.__wab_instance) {
  position: relative;
}
.box__wyBgt {
  font-size: 19px;
}
.container {
  max-width: 980px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 0;
}
.footer {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  align-self: auto;
  left: auto;
  top: auto;
  height: 100%;
  min-width: 0;
  min-height: 0;
  margin: 0px;
  background: #ffffff;
}
.columns {
  max-width: 980px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 14px;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
  }
}
.column__swH9F {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__swH9F {
    width: auto;
  }
}
.box__uj51S {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.link__oM7U {
  position: relative;
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
  width: 180px;
  height: auto;
  flex-shrink: 0;
}
.link__ur8FT {
  position: relative;
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
  width: 180px;
  height: auto;
  flex-shrink: 0;
}
.link___8Ay0F {
  position: relative;
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
  width: 180px;
  height: auto;
  flex-shrink: 0;
}
.link__xFwV {
  position: relative;
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
  width: 180px;
  height: auto;
  flex-shrink: 0;
}
.link__ilNgt {
  position: relative;
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
  width: 180px;
  height: auto;
  flex-shrink: 0;
}
.link__qr0Va {
  position: relative;
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
  width: 180px;
  height: auto;
  flex-shrink: 0;
}
.column__yXJr8 {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__yXJr8 {
    width: auto;
  }
}
.box__l1A9M {
  position: relative;
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
  margin: 5px;
}
.img__jxcc1 {
  position: relative;
  object-fit: contain;
  height: 65px;
  width: 254px;
  flex-shrink: 0;
  margin: 8px;
}
