.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  height: auto;
  width: 100%;
  background: var(--token-_19xYoSCM);
  min-width: 0;
  border-radius: 2px;
  padding: 9px;
  border-top: 2px solid var(--token-2CTAtOo0u);
}
.freeBox__bZxVn {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.freeBox__sTAx8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin: 2px;
}
.slotTargetDateTime {
  color: var(--token-Kftb_9z5u);
}
.freeBox___9UZt9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-grow: 1;
  align-self: center;
  margin: 2px;
}
.slotTargetEventTitle {
  color: var(--token-Kftb_9z5u);
}
.freeBox__bqpMw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
}
.svg {
  object-fit: cover;
  width: 1em;
  flex-shrink: 0;
  height: 1em;
}
.freeBox__quGeg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  align-self: flex-end;
}
.slotTargetOrgName {
  color: var(--token-Kftb_9z5u);
  font-size: 13px;
  font-weight: 700;
}
.freeBox__tEnfv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.freeBox__jLNs {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 4px;
}
.slotTargetChildren {
  font-size: 14px;
  color: var(--token-Kftb_9z5u);
}
