.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-content: flex-start;
  position: relative;
  width: 100%;
  min-width: 0;
}
.freeBox__psGc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
}
.toggleBtn {
  flex-direction: row;
  display: flex;
  position: relative;
  padding: 5px;
  border: 2px none var(--token-Kftb_9z5u);
}
.toggleBtn > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.toggleBtn > :global(.__wab_flex-container) > *,
.toggleBtn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.toggleBtn > :global(.__wab_flex-container) > picture > img,
.toggleBtn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.svg__ojiWa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-Kftb_9z5u);
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.svg___8FAZa {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-2CTAtOo0u);
  height: 32px;
  width: 32px;
  flex-shrink: 0;
  border-radius: 6px;
}
.freeBox__we4V {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-start;
}
.orgCard__bp3AN:global(.__wab_instance) {
  position: relative;
}
.freeBox___36RbF {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: transparent;
  min-width: 0;
  min-height: 0;
}
.orgCard__jsKye:global(.__wab_instance) {
  position: relative;
}
.freeBox__i4Rhe {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: transparent;
  min-width: 0;
  min-height: 0;
}
.orgCard__iHbSt:global(.__wab_instance) {
  position: relative;
}
.freeBox___8Lcl3 {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: transparent;
  min-width: 0;
  min-height: 0;
}
.orgCard__j2G:global(.__wab_instance) {
  position: relative;
}
.freeBox__tUjNz {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: transparent;
  min-width: 0;
  min-height: 0;
}
.orgCard__trp4P:global(.__wab_instance) {
  position: relative;
}
.freeBox__bEw0C {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: transparent;
  min-width: 0;
  min-height: 0;
}
.orgCard__tsqi9:global(.__wab_instance) {
  position: relative;
}
.text__puyXv {
  height: auto;
}
.freeBox__irWy0 {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: transparent;
  min-width: 0;
  min-height: 0;
}
.orgCard__jo5Be:global(.__wab_instance) {
  position: relative;
}
.freeBox___3Ouj {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: transparent;
  min-width: 0;
  min-height: 0;
}
.orgCard___17FaN:global(.__wab_instance) {
  position: relative;
}
.freeBox__iLd7V {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: transparent;
  min-width: 0;
  min-height: 0;
}
