.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  align-items: center;
  padding: 13px;
}
.box__efUkH {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  overflow: hidden;
  width: 298px;
  border-radius: 15px;
  border: 1px none rgb(188, 188, 188);
}
.prev {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  margin-left: 1px;
  margin-right: 1px;
  flex-row-gap: 0px;
  padding: 13px;
  background: rgb(255, 255, 255);
}
.svg__zgKyb {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.box__rx4E {
  position: relative;
}
.next {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
  position: relative;
  margin-left: 1px;
  margin-right: 1px;
  flex-row-gap: 0px;
  padding: 13px;
  background: rgb(255, 255, 255);
}
.box__hlQzX {
  position: relative;
}
.svg__miHZ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
