.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  height: auto;
  width: 100%;
  min-width: 0;
  border-radius: 2px;
  padding: 9px;
  background: rgba(255, 255, 255, 0.95);
  border-top: 2px solid rgba(73, 32, 110, 0.42) /* plasmic-token: 2CTAtOo0u */;
}
.box__bZxVn {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-width: 0;
  padding: 0px;
  margin: 0px;
}
.box__sTAx8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin: 2px;
}
.slotDateTime {
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
}
.box___9UZt9 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-grow: 1;
  align-self: center;
  margin: 2px;
}
.slotEventTitle {
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
}
.box__bqpMw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
}
.svg {
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.box__quGeg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  align-self: flex-end;
}
.slotOrgName {
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
  font-size: 13px;
  font-weight: 700;
}
.box__tEnfv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.box__jLNs {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  padding: 4px;
}
.slotChildren {
  font-size: 14px;
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
}
