.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.page:global(.__wab_instance) {
  position: relative;
}
.freeBox__cnIo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.slotTitle {
  font-size: 24px;
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
  font-weight: 700;
}
.freeBox__b7NZx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.freeBox___8DdUu {
  position: relative;
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
}
.freeBox__activity_other___8DdUuicU8N {
  height: auto;
}
.freeBox__yBxk1 {
  position: relative;
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
}
.freeBox__kDhS {
  position: relative;
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
}
.columns {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-top: 12px;
  margin-bottom: 12px;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  margin-left: calc(0px - 9px);
  width: calc(100% + 9px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 9px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
  }
}
.column__f8AlD {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__f8AlD {
    width: auto;
  }
}
.img__pwzSo {
  position: relative;
  object-fit: cover;
}
.eventList {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 0px;
  margin: 7px;
  border-bottom: 2px solid rgba(73, 32, 110, 0.42)
    /* plasmic-token: 2CTAtOo0u */;
}
.eventListItem__gqe6M:global(.__wab_instance) {
  position: relative;
}
.eventListItem__yd4Fs:global(.__wab_instance) {
  position: relative;
}
.eventListItem__sqUwZ:global(.__wab_instance) {
  position: relative;
}
.freeBox__xOko3 {
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
}
.freeBox__m5Af8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.socialLink__ko4Gq:global(.__wab_instance) {
  position: relative;
}
.socialLink__js84E:global(.__wab_instance) {
  position: relative;
}
.socialLink__cpOrQ:global(.__wab_instance) {
  position: relative;
}
.column__geaVn {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__geaVn {
    width: auto;
  }
}
.freeBox__vZu7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
  padding: 7px;
}
.freeBox__u6L2B {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
  overflow: auto;
}
