.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.root__list {
  width: 100%;
  height: auto;
  min-width: 0;
}
.box__oxQw3 {
  display: block;
  flex-direction: column;
  width: 300px;
  height: 300px;
  justify-content: flex-end;
  cursor: pointer;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 17px;
  margin: 4px;
  border: 0px none rgb(73, 32, 110);
}
.box__list__oxQw3WiGv6 {
  width: 100%;
  height: 120px;
  min-height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-row-gap: 0px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 0px;
  margin: 0px;
  background: #ffffff;
}
.box__egDkZ {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  background: url("/plasmic/shinkan_next/images/gradientjpeg.jpeg") 0% 0% / 100% 100%,
    #ffffff 0% 0% / 100% 100%;
}
.box__list__egDkZwiGv6 {
  position: relative;
  left: auto;
  top: auto;
  width: 100px;
  height: 100px;
  flex-shrink: 0;
  border-radius: 6px;
  margin: 10px;
}
.box___7AuY {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  background: transparent;
}
.box___6WKxl {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  left: 0px;
  top: auto;
  bottom: 0px;
  width: 100%;
  min-width: 0;
  padding: 3px 7px;
  background: #ffffffcc;
  border-bottom: 5px solid rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
}
.box__activity_sports___6WKxl6TPp1 {
  border-bottom-color: rgb(234, 110, 137) /* plasmic-token: E4AV8Sb0R */;
}
.box__activity_art___6WKxlLhErp {
  border-bottom-color: rgb(237, 182, 46) /* plasmic-token: Ab_kcq5-K */;
}
.box__activity_culture___6WKxllHrU6 {
  border-bottom-color: rgb(37, 200, 204) /* plasmic-token: -TDQpFL4P */;
}
.box__activity_other___6WKxlpqEoh {
  border-bottom-color: rgb(189, 189, 189) /* plasmic-token: P6COEcurd */;
}
.box__list___6WKxlwiGv6 {
  position: relative;
  left: auto;
  top: auto;
  bottom: auto;
  height: 100%;
  flex-grow: 0;
  flex-shrink: 1;
  align-self: auto;
  justify-content: center;
  min-height: 0;
  background: none;
}
.box___8In5T {
  position: relative;
  display: flex;
  flex-direction: column;
  max-height: 65px;
  height: auto;
  overflow: hidden;
}
.box__list___8In5TwiGv6 {
  max-height: 40px;
}
.slotDescription {
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
  font-size: 11px;
  white-space: pre-wrap;
  text-transform: none;
  line-height: 1.7;
}
.slotDescription > *,
.slotDescription > .__wab_slot > *,
.slotDescription > .__wab_slot > .__wab_slot > *,
.slotDescription > .__wab_slot > .__wab_slot > .__wab_slot > * {
  text-decoration-line: underline;
}
.box__jSjep {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 6px;
  padding-bottom: 6px;
}
.slotName {
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5em;
  white-space: pre-wrap;
}
.box__ekacc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.box__k4V {
  font-size: 12px;
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
  position: relative;
}
.box__activity_sports__k4V6TPp1 {
  font-size: 14px;
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
  height: auto;
}
.box__activity_art__k4VLhErp {
  height: auto;
}
.box__activity_other__k4VPqEoh {
  height: auto;
}
.box__e1DR {
  font-size: 12px;
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
  position: relative;
}
.box___1OPd2 {
  font-size: 12px;
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
  position: relative;
}
