.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
  padding: 5px;
}
.link {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  background: var(--token-_19xYoSCM);
  margin: 0px;
}
.img {
  position: relative;
  object-fit: cover;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  margin: 14px 18px;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.slotTargetLabel {
  color: var(--token-4creIjO1T);
}
