.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.box__oxQw3 {
  display: block;
  flex-direction: column;
  width: 300px;
  height: 300px;
  justify-content: flex-end;
  transition-property: all;
  transition-duration: 1s;
  cursor: pointer;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 17px;
  margin: 7px;
  border: 0px none rgb(73, 32, 110);
}
.box__egDkZ {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box___7AuY {
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  background: linear-gradient(327.1162941438513deg, #ae609e 0%, #f2d599 100%);
}
.box___6WKxl {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  left: 0px;
  top: auto;
  bottom: 0px;
  width: 100%;
  min-width: 0;
  padding: 8px;
  background: rgba(255, 255, 255, 0.71);
  border-bottom: 5px solid rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
}
.box__category_sports___6WKxl6TPp1 {
  border-bottom-color: rgb(234, 110, 137) /* plasmic-token: E4AV8Sb0R */;
}
.box__category_art___6WKxlLhErp {
  border-bottom-color: rgb(237, 182, 46) /* plasmic-token: Ab_kcq5-K */;
}
.box__category_culture___6WKxllHrU6 {
  border-bottom-color: rgb(37, 200, 204) /* plasmic-token: -TDQpFL4P */;
}
.box__category_other___6WKxlpqEoh {
  border-bottom-color: rgb(189, 189, 189) /* plasmic-token: P6COEcurd */;
}
.box___8In5T {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.slotDescription {
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
  font-size: 13px;
  white-space: pre-wrap;
  text-transform: none;
  line-height: 1.7;
}
.slotDescription > * {
  text-decoration-line: underline;
}
.box__jSjep {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding-top: 8px;
  padding-bottom: 8px;
}
.slotName {
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5em;
  white-space: pre-wrap;
}
.box__ekacc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.box__k4V {
  position: relative;
  color: rgb(73, 32, 110) /* plasmic-token: Kftb_9z5u */;
  font-size: 14px;
}
.box__category_sports__k4V6TPp1 {
  height: auto;
}
.box__category_art__k4VLhErp {
  height: auto;
}
.box__category_other__k4VPqEoh {
  height: auto;
}
