.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1px 14px;
  margin: 5px;
  border-right: 3px solid var(--token-Kftb_9z5u);
  border-left: 3px solid var(--token-Kftb_9z5u);
}
.slotTargetChildren {
  font-size: 22px;
  color: var(--token-Kftb_9z5u);
}
