@import "modern-css-reset/dist/reset.min.css";
@import "react-image-gallery/styles/scss/image-gallery.scss";
img {
  display: inline-block;
}
blockquote {
  background-color: rgba($color: #a8a8a8, $alpha: 0.1);
  color: #333;
  padding: 20px 20px 20px 60px;
}
